<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        h1{
            margin-top: 200px;
        }
        input{
            font-size: large;
            width:600px;
            margin: 20px;
        }

    </style>
</head>
<body>
    <h1>LOGIN DETAILS!!!!</h1>

    <form action="" method="POST">
        <div>
            <input type="text" placeholder="Username" name="username">
        </div>
        <div>
            <input type="password" placeholder="Password" name="password">
        </div>
        <button type="submit">submit</button>
    </form>
    
</body>
</html>